body {
    background-color: rgb(236, 236, 236);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px; 
}

#box { 
    display: block;
    width: 400px;
    padding-right: 112px;
    img {
        display: block;
        width: 100xp;
        height: 100px;
        margin: -28px;
    }
    p {
        display: flex;
        text-align: center;
        font-size: x-large;
        text-align: left;
    }
    
}

#login {
    display: inline;
    width: 400px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px #dbdbdb;
    margin: 10px 10px;
    text-align: center;
    float: right;
    margin-right: 1px;
    background-color: white;

    input {
        height: 50px;
        width: 340px;
        margin-top: 15px;
        border-radius: 5px;
        border: 1px solid #cecece;
        font-size: 16px;
        padding-left: 20px
    }
    input:placeholder-shown {
        padding-left: 20px;
        font-size: large;
        color: #b6b2b2;

    }
    
    button {
        border-radius: 5px;
        display: block;
        margin: 10px;
        margin-left: 20px;
        width: 360px;
        height: 50px;
        background-color: #2f71ff;
        color: white;
        border: none;
        font-size: large;
    }
    button:hover {
        background-color: blue;
    }

    a {
        text-decoration: none;
        font-size: 15px;
    }
    
    #criar {
        display: inline-block;
        background-color: #78bb35;
        color: white;
        border-radius: 5px;
        padding: 15px;
        margin: 10px 100px;
        font-size: large;
    }
    #criar:hover {
        background-color:#6b9e38;
    }

    p {
        color: #dbdbdb;
    }
}

#all {
    display: inline-flex;
    align-items: center;
    padding-top: 120px;
    padding-left: 40px;
    margin-bottom: 0%;
    

}

#page {
    margin-top: 40px;
    font-size: 14px;
    p {
        display: inline;
        margin-top: 40px;
        color: #313131;

    }
    a {
        display: inline;
        color: #313131;

    }
}