body {
    background-color: rgb(236, 236, 236);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px; 
}

#box { 
    display: block;
    width: 400px;
    padding-right: 112px;
    img {
        display: block;
        width: 100xp;
        height: 100px;
        margin: -28px;
    }
    p {
        display: flex;
        text-align: center;
        font-size: x-large;
        text-align: left;
    }
    
}

#login {
    display: inline;
    width: 400px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px #dbdbdb;
    margin: 10px 10px;
    text-align: center;
    float: right;
    margin-right: 150px;
    background-color: white;

    input {
        height: 50px;
        width: 340px;
        margin-top: 15px;
        border-radius: 5px;
        border: 1px solid #cecece;
    }
    input:placeholder-shown {
        padding-left: 20px;
        font-size: large;
        color: #b6b2b2;
    }
    button {
        border-radius: 5px;
        display: block;
        margin: 10px;
        margin-left: 20px;
        width: 360px;
        height: 50px;
        background-color: #2f71ff;
        color: white;
        border: none;
        font-size: large;
    }
    a {
        text-decoration: none;
        font-size: 15px

    }
    #criar {
        display: inline-block;
        background-color: #65bb10;
        color: white;
        border-radius: 5px;
        padding: 15px;
        margin: 10px 100px;
        font-size: large;
    }
    p {
        color: #dbdbdb;
    }
}

#all {
    display: inline-flex;
    align-items: center;
    padding-top: 120px;
    padding-left: 40px;
}

#page {
    p {
        margin-top: 40px;
        color: #313131;
    }
    a {
        color: #313131;

    }
}